@import "tailwindcss";
body {
  cursor: url('https://cdn.custom-cursor.com/packs/564/pack525.png'), auto;
}
:root {
  --color-1: 210 100% 70%;
  --color-2: 280 100% 80%;
  --color-3: 320 90% 75%;
  --color-4: 190 80% 70%;
  --color-5: 240 100% 65%;
}
